/GD-77_new_firmware/firmware/.settings
/GD-77_new_firmware/firmware/Debug
/GD-77_new_firmware/firmware/Release
/GD-77_new_firmware/firmware/*.launch
/GD-77_new_firmware/firmware/linkerdata/*.dat
/GD-77_new_firmware/ComTool/.vs
/GD-77_new_firmware/ComTool/ComTool/bin
/GD-77_new_firmware/ComTool/ComTool/obj
/GD-77_new_firmware/FontConverter/UC1701FontConverter/bin
/GD-77_new_firmware/FontConverter/UC1701FontConverter/obj